{% extends 'hosp_user/base.html' %} 
{% load static %}
{% block title %}EDIT PROFILE{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Profile</h4>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ patient_form.as_p }}
            {{ medical_history_form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}
