{% extends 'hosp_staff/recep_index.html' %}
{% load static %}
{% block title %}ADMIN DASHBOARD {% endblock %}
{% block content %}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Schedule</h4>
                </div>
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %} 
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table mb-0">
                            <thead>
                                <tr>
                                    <th>Doctor Name</th>
                                    <th>Department</th>
                                    <th>Available Days</th>
                                    <th>Available Time</th>
                                    <th>Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for avail in availability %}
                                <tr>
                                    <td>
                                        <img width="28" height="28" src="{{ avail.doctor.doc_image.url }}" class="rounded-circle m-r-5" alt="">
                                        {{ avail.doctor.employee.user.get_full_name }}
                                    </td>
                                    <td>{{ avail.doctor.department.name }}</td>
                                    <td>{{ avail.day_of_week }}</td>
                                    <td>{{ avail.start_time }} - {{ avail.end_time }}</td>
                                    <td>
                                        <span class="custom-badge status-green">Active</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{% url 'edit_availability' avail.id %}">
                                                    <i class="fa fa-pencil m-r-5"></i> Edit
                                                </a>
                                                <a class="dropdown-item" href="{% url 'delete_availability' avail.id %}">
                                                    <i class="fa fa-trash-o m-r-5"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
