{% extends 'hosp_staff/index.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h4 class="page-title">Change Password</h4>
                        <form method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center m-t-20">
                                    <button type="submit" class="btn btn-primary submit-btn">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}